<!DOCTYPE html>
<head>
#Header {
    border: solid 8px black;
    width: 400px
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
    <title> Keith the QB </title>
    <link rel="stylesheet" type="text/css" href="test.css" />
<head>
